:host(){
    --light-white:#fafafa;
    --light-yellow:#c7c423;
    --size-14:14px;
  }
  .box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    background-color:dimgray;
    color: var(--light-white);
    padding: var(--size-14);
    border-radius: 30px;
  }
  h1{
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
  }
  .info-bmi{
    background-color: #1d1e33;
    padding: 10px;
    border-radius: 38px;
    font-size: 14px;
    text-align: center;
  }
  h2{
    font-size: 20px;
    color: var(--light-yellow);
  }
